.container {
    padding-block: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    color: black;
    font-size: 20px;
    font-weight: bold;
}